<div id="<%= dom_id travel_plan %>">
  <p>
    <strong>User:</strong>
    <%= travel_plan.user_id %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= travel_plan.destination_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= travel_plan.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= travel_plan.end_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= travel_plan.status %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= travel_plan.notes %>
  </p>

</div>
