<%# app/views/users/_form.html.erb %>
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h4>
      <ul class="mb-0">
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, "Full Name", class: "form-label" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter your full name", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :email, "Email Address", class: "form-label" %>
    <%= form.email_field :email, class: "form-control", placeholder: "Enter your email address", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :current_country, "Current Country", class: "form-label" %>
    <%= form.select :current_country,
                    options_for_select([
                                         ['Afghanistan', 'Afghanistan'],
                                         ['Albania', 'Albania'],
                                         ['Åland Islands', 'Åland Islands'],
                                         ['Algeria', 'Algeria'],
                                         ['American Samoa', 'American Samoa'],
                                         ['Andorra', 'Andorra'],
                                         ['Angola', 'Angola'],
                                         ['Anguilla', 'Anguilla'],
                                         ['Antarctica', 'Antarctica'],
                                         ['Antigua and Barbuda', 'Antigua and Barbuda'],
                                         ['Argentina', 'Argentina'],
                                         ['Armenia', 'Armenia'],
                                         ['Aruba', 'Aruba'],
                                         ['Australia', 'Australia'],
                                         ['Austria', 'Austria'],
                                         ['Azerbaijan', 'Azerbaijan'],
                                         ['Bahamas', 'Bahamas'],
                                         ['Bahrain', 'Bahrain'],
                                         ['Bangladesh', 'Bangladesh'],
                                         ['Barbados', 'Barbados'],
                                         ['Belarus', 'Belarus'],
                                         ['Belgium', 'Belgium'],
                                         ['Belize', 'Belize'],
                                         ['Benin', 'Benin'],
                                         ['Bermuda', 'Bermuda'],
                                         ['Bhutan', 'Bhutan'],
                                         ['Bolivia', 'Bolivia'],
                                         ['Bosnia and Herzegovina', 'Bosnia and Herzegovina'],
                                         ['Botswana', 'Botswana'],
                                         ['Bouvet Island', 'Bouvet Island'],
                                         ['Brazil', 'Brazil'],
                                         ['British Indian Ocean Territory', 'British Indian Ocean Territory'],
                                         ['Brunei Darussalam', 'Brunei Darussalam'],
                                         ['Bulgaria', 'Bulgaria'],
                                         ['Burkina Faso', 'Burkina Faso'],
                                         ['Burundi', 'Burundi'],
                                         ['Cambodia', 'Cambodia'],
                                         ['Cameroon', 'Cameroon'],
                                         ['Canada', 'Canada'],
                                         ['Cape Verde', 'Cape Verde'],
                                         ['Cayman Islands', 'Cayman Islands'],
                                         ['Central African Republic', 'Central African Republic'],
                                         ['Chad', 'Chad'],
                                         ['Chile', 'Chile'],
                                         ['China', 'China'],
                                         ['Christmas Island', 'Christmas Island'],
                                         ['Cocos (Keeling) Islands', 'Cocos (Keeling) Islands'],
                                         ['Colombia', 'Colombia'],
                                         ['Comoros', 'Comoros'],
                                         ['Congo', 'Congo'],
                                         ['Congo, The Democratic Republic of The', 'Congo, The Democratic Republic of The'],
                                         ['Cook Islands', 'Cook Islands'],
                                         ['Costa Rica', 'Costa Rica'],
                                         ['Cote D\'ivoire', 'Cote D\'ivoire'],
                                         ['Croatia', 'Croatia'],
                                         ['Cuba', 'Cuba'],
                                         ['Cyprus', 'Cyprus'],
                                         ['Czech Republic', 'Czech Republic'],
                                         ['Denmark', 'Denmark'],
                                         ['Djibouti', 'Djibouti'],
                                         ['Dominica', 'Dominica'],
                                         ['Dominican Republic', 'Dominican Republic'],
                                         ['Ecuador', 'Ecuador'],
                                         ['Egypt', 'Egypt'],
                                         ['El Salvador', 'El Salvador'],
                                         ['Equatorial Guinea', 'Equatorial Guinea'],
                                         ['Eritrea', 'Eritrea'],
                                         ['Estonia', 'Estonia'],
                                         ['Ethiopia', 'Ethiopia'],
                                         ['Falkland Islands (Malvinas)', 'Falkland Islands (Malvinas)'],
                                         ['Faroe Islands', 'Faroe Islands'],
                                         ['Fiji', 'Fiji'],
                                         ['Finland', 'Finland'],
                                         ['France', 'France'],
                                         ['French Guiana', 'French Guiana'],
                                         ['French Polynesia', 'French Polynesia'],
                                         ['French Southern Territories', 'French Southern Territories'],
                                         ['Gabon', 'Gabon'],
                                         ['Gambia', 'Gambia'],
                                         ['Georgia', 'Georgia'],
                                         ['Germany', 'Germany'],
                                         ['Ghana', 'Ghana'],
                                         ['Gibraltar', 'Gibraltar'],
                                         ['Greece', 'Greece'],
                                         ['Greenland', 'Greenland'],
                                         ['Grenada', 'Grenada'],
                                         ['Guadeloupe', 'Guadeloupe'],
                                         ['Guam', 'Guam'],
                                         ['Guatemala', 'Guatemala'],
                                         ['Guernsey', 'Guernsey'],
                                         ['Guinea', 'Guinea'],
                                         ['Guinea-bissau', 'Guinea-bissau'],
                                         ['Guyana', 'Guyaná'],
                                         ['Haiti', 'Haiti'],
                                         ['Heard Island and Mcdonald Islands', 'Heard Island and Mcdonald Islands'],
                                         ['Holy See (Vatican City State)', 'Holy See (Vatican City State)'],
                                         ['Honduras', 'Honduras'],
                                         ['Hong Kong', 'Hong Kong'],
                                         ['Hungary', 'Hungary'],
                                         ['Iceland', 'Iceland'],
                                         ['India', 'India'],
                                         ['Indonesia', 'Indonesia'],
                                         ['Iran, Islamic Republic of', 'Iran, Islamic Republic of'],
                                         ['Iraq', 'Iraq'],
                                         ['Ireland', 'Ireland'],
                                         ['Isle of Man', 'Isle of Man'],
                                         ['Israel', 'Israel'],
                                         ['Italy', 'Italy'],
                                         ['Jamaica', 'Jamaica'],
                                         ['Japan', 'Japan'],
                                         ['Jersey', 'Jersey'],
                                         ['Jordan', 'Jordan'],
                                         ['Kazakhstan', 'Kazakhstan'],
                                         ['Kenya', 'Kenya'],
                                         ['Kiribati', 'Kiribati'],
                                         ['Korea, Democratic People\'s Republic of', 'Korea, Democratic People\'s Republic of'],
                                         ['Korea, Republic of', 'Korea, Republic of'],
                                         ['Kuwait', 'Kuwait'],
                                         ['Kyrgyzstan', 'Kyrgyzstan'],
                                         ['Lao People\'s Democratic Republic', 'Lao People\'s Democratic Republic'],
                                         ['Latvia', 'Latvia'],
                                         ['Lebanon', 'Lebanon'],
                                         ['Lesotho', 'Lesotho'],
                                         ['Liberia', 'Liberia'],
                                         ['Libyan Arab Jamahiriya', 'Libyan Arab Jamahiriya'],
                                         ['Liechtenstein', 'Liechtenstein'],
                                         ['Lithuania', 'Lithuania'],
                                         ['Luxembourg', 'Luxembourg'],
                                         ['Macao', 'Macao'],
                                         ['Macedonia, The Former Yugoslav Republic of', 'Macedonia, The Former Yugoslav Republic of'],
                                         ['Madagascar', 'Madagascar'],
                                         ['Malawi', 'Malawi'],
                                         ['Malaysia', 'Malaysia'],
                                         ['Maldives', 'Maldives'],
                                         ['Mali', 'Mali'],
                                         ['Malta', 'Malta'],
                                         ['Marshall Islands', 'Marshall Islands'],
                                         ['Martinique', 'Martinique'],
                                         ['Mauritania', 'Mauritania'],
                                         ['Mauritius', 'Mauritius'],
                                         ['Mayotte', 'Mayotte'],
                                         ['Mexico', 'Mexico'],
                                         ['Micronesia, Federated States of', 'Micronesia, Federated States of'],
                                         ['Moldova, Republic of', 'Moldova, Republic of'],
                                         ['Monaco', 'Monaco'],
                                         ['Mongolia', 'Mongolia'],
                                         ['Montenegro', 'Montenegro'],
                                         ['Montserrat', 'Montserrat'],
                                         ['Morocco', 'Morocco'],
                                         ['Mozambique', 'Mozambique'],
                                         ['Myanmar', 'Myanmar'],
                                         ['Namibia', 'Namibia'],
                                         ['Nauru', 'Nauru'],
                                         ['Nepal', 'Nepal'],
                                         ['Netherlands', 'Netherlands'],
                                         ['Netherlands Antilles', 'Netherlands Antilles'],
                                         ['New Caledonia', 'New Caledonia'],
                                         ['New Zealand', 'New Zealand'],
                                         ['Nicaragua', 'Nicaragua'],
                                         ['Niger', 'Niger'],
                                         ['Nigeria', 'Nigeria'],
                                         ['Niue', 'Niue'],
                                         ['Norfolk Island', 'Norfolk Island'],
                                         ['Northern Mariana Islands', 'Northern Mariana Islands'],
                                         ['Norway', 'Norway'],
                                         ['Oman', 'Oman'],
                                         ['Pakistan', 'Pakistan'],
                                         ['Palau', 'Palau'],
                                         ['Palestinian Territory, Occupied', 'Palestinian Territory, Occupied'],
                                         ['Panama', 'Panama'],
                                         ['Papua New Guinea', 'Papua New Guinea'],
                                         ['Paraguay', 'Paraguay'],
                                         ['Peru', 'Peru'],
                                         ['Philippines', 'Philippines'],
                                         ['Pitcairn', 'Pitcairn'],
                                         ['Poland', 'Poland'],
                                         ['Portugal', 'Portugal'],
                                         ['Puerto Rico', 'Puerto Rico'],
                                         ['Qatar', 'Qatar'],
                                         ['Reunion', 'Reunion'],
                                         ['Romania', 'Romania'],
                                         ['Russian Federation', 'Russian Federation'],
                                         ['Rwanda', 'Rwanda'],
                                         ['Saint Helena', 'Saint Helena'],
                                         ['Saint Kitts and Nevis', 'Saint Kitts and Nevis'],
                                         ['Saint Lucia', 'Saint Lucia'],
                                         ['Saint Pierre and Miquelon', 'Saint Pierre and Miquelon'],
                                         ['Saint Vincent and The Grenadines', 'Saint Vincent and The Grenadines'],
                                         ['Samoa', 'Samoa'],
                                         ['San Marino', 'San Marino'],
                                         ['Sao Tome and Principe', 'Sao Tome and Principe'],
                                         ['Saudi Arabia', 'Saudi Arabia'],
                                         ['Senegal', 'Senegal'],
                                         ['Serbia', 'Serbia'],
                                         ['Seychelles', 'Seychelles'],
                                         ['Sierra Leone', 'Sierra Leone'],
                                         ['Singapore', 'Singapore'],
                                         ['Slovakia', 'Slovakia'],
                                         ['Slovenia', 'Slovenia'],
                                         ['Solomon Islands', 'Solomon Islands'],
                                         ['Somalia', 'Somalia'],
                                         ['South Africa', 'South Africa'],
                                         ['South Georgia and The South Sandwich Islands', 'South Georgia and The South Sandwich Islands'],
                                         ['Spain', 'Spain'],
                                         ['Sri Lanka', 'Sri Lanka'],
                                         ['Sudan', 'Sudan'],
                                         ['Suriname', 'Suriname'],
                                         ['Svalbard and Jan Mayen', 'Svalbard and Jan Mayen'],
                                         ['Swaziland', 'Swaziland'],
                                         ['Sweden', 'Sweden'],
                                         ['Switzerland', 'Switzerland'],
                                         ['Syrian Arab Republic', 'Syrian Arab Republic'],
                                         ['Taiwan, Province of China', 'Taiwan, Province of China'],
                                         ['Tajikistan', 'Tajikistan'],
                                         ['Tanzania, United Republic of', 'Tanzania, United Republic of'],
                                         ['Thailand', 'Thailand'],
                                         ['Timor-leste', 'Timor-leste'],
                                         ['Togo', 'Togo'],
                                         ['Tokelau', 'Tokelau'],
                                         ['Tonga', 'Tonga'],
                                         ['Trinidad and Tobago', 'Trinidad and Tobago'],
                                         ['Tunisia', 'Tunisia'],
                                         ['Turkey', 'Turkey'],
                                         ['Turkmenistan', 'Turkmenistan'],
                                         ['Turks and Caicos Islands', 'Turks and Caicos Islands'],
                                         ['Tuvalu', 'Tuvalu'],
                                         ['Uganda', 'Uganda'],
                                         ['Ukraine', 'Ukraine'],
                                         ['United Arab Emirates', 'United Arab Emirates'],
                                         ['United Kingdom', 'United Kingdom'],
                                         ['United States', 'United States'],
                                         ['United States Minor Outlying Islands', 'United States Minor Outlying Islands'],
                                         ['Uruguay', 'Uruguay'],
                                         ['Uzbekistan', 'Uzbekistan'],
                                         ['Vanuatu', 'Vanuatu'],
                                         ['Venezuela', 'Venezuela'],
                                         ['Viet Nam', 'Viet Nam'],
                                         ['Virgin Islands, British', 'Virgin Islands, British'],
                                         ['Virgin Islands, U.S.', 'Virgin Islands, U.S.'],
                                         ['Wallis and Futuna', 'Wallis and Futuna'],
                                         ['Western Sahara', 'Western Sahara'],
                                         ['Yemen', 'Yemen'],
                                         ['Zambia', 'Zambia'],
                                         ['Zimbabwe', 'Zimbabwe']
                                       ], user.current_country),
                    { prompt: 'Select your current country' },
                    { class: "form-select", required: true }
    %>
  </div>

  <div class="mb-3">
    <%= form.label :promo_code, "Promo Code", class: "form-label fw-semibold" %>
    <%= form.password_field :promo_code,
                            class: "form-control form-control-sm",
                            placeholder: "Enter promo code to unlock higher tier. Payment coming soon!",
                            id: "promo-code-field" %>
  </div>

  <div class="mb-3">
    <%= form.label :subscription_tier, "Account Tier", class: "form-label fw-bold fs-4" %>

    <div class="row g-3">

      <% plans = [
        { key: "free", title: "Free", price: "$0", desc: "Includes up to 50 responses per month and vacations lasting up to 10 days." },
        { key: "premium", title: "Premium", price: "$14.99/mo", desc: "Includes unlimited responses and vacations lasting up to 25 days." }
      ] %>

      <% selected = user.new_record? ? "free" : user.subscription_tier %>

      <% plans.each do |plan| %>
        <div class="col-md-6">
          <label class="tier-card w-100">
            <%= form.radio_button :subscription_tier, plan[:key],
                                  class: "tier-radio",
                                  checked: (selected == plan[:key]),
                                  'data-tier': plan[:key] %>

            <div class="card p-3 tier-card-inner">
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="fw-bold mb-0"><%= plan[:title] %></h5>
                <span class="fw-bold fs-5"><%= plan[:price] %></span>
              </div>
              <p class="text-muted mt-2 mb-0"><%= plan[:desc] %></p>
            </div>
          </label>
        </div>
      <% end %>

    </div>
  </div>

  <% if user.new_record? %>
    <div class="mb-3">
      <%= form.label :password, class: "form-label" %>
      <%= form.password_field :password, class: "form-control", placeholder: "Create a password (minimum 6 characters)", required: true %>
    </div>

    <div class="mb-3">
      <%= form.label :password_confirmation, "Confirm Password", class: "form-label" %>
      <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirm your password", required: true %>
    </div>
  <% end %>

  <div class="d-grid">
    <%= form.submit user.new_record? ? "Create Account" : "Update Profile", class: "btn btn-primary" %>
  </div>
<% end %>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const promoField = document.getElementById("promo-code-field");
        const radios = document.querySelectorAll(".tier-radio");
        const freeTierRadio = document.querySelector(".tier-radio[data-tier='free']");
        const premiumTierRadio = document.querySelector(".tier-radio[data-tier='premium']");
        const initialTier = "<%= user.subscription_tier || 'free' %>";

        function updateTierAvailability() {
            const code = promoField.value.trim();
            const isCodeValid = (code === "cs397project");

            // The premium tier is only enabled if the code is valid.
            premiumTierRadio.disabled = !isCodeValid;

            // If the premium tier is disabled and was selected,
            // switch the selection back to the free tier.
            if (premiumTierRadio.disabled && premiumTierRadio.checked) {
                freeTierRadio.checked = true;
            }

            // If the user is already premium, we should not disable their current selection on page load
            // but still require the code to re-select it if they change it.
            // This part of the logic is tricky. The simplest strict rule is to disable it always without the code.
            if (initialTier === 'premium' && !isCodeValid) {
                // This condition is now handled by the logic above.
                // If they are premium, the radio is checked. If they touch the promo field and it's wrong,
                // it will become disabled, but their selection remains until they click something else or submit.
                // A better user experience might be to not disable it if they are already premium,
                // but the user request is to strictly require the code.
            }
        }

        // Run on input in the promo field
        promoField.addEventListener("input", updateTierAvailability);

        // Run on page load to set the initial state
        updateTierAvailability();
    });
</script>
