<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Passport country:</strong>
    <%= user.passport_country %>
  </p>

  <p>
    <strong>Budget min:</strong>
    <%= user.budget_min %>
  </p>

  <p>
    <strong>Budget max:</strong>
    <%= user.budget_max %>
  </p>

  <p>
    <strong>Preferred travel season:</strong>
    <%= user.preferred_travel_season %>
  </p>

  <p>
    <strong>Safety preference:</strong>
    <%= user.safety_preference %>
  </p>

</div>
