<div id="<%= dom_id destination %>">
  <p>
    <strong>Name:</strong>
    <%= destination.name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= destination.country %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= destination.description %>
  </p>

  <p>
    <strong>Visa required:</strong>
    <%= destination.visa_required %>
  </p>

  <p>
    <strong>Safety score:</strong>
    <%= destination.safety_score %>
  </p>

  <p>
    <strong>Best season:</strong>
    <%= destination.best_season %>
  </p>

  <p>
    <strong>Average cost:</strong>
    <%= destination.average_cost %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= destination.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= destination.longitude %>
  </p>

</div>
